body {
  margin: 0px;
  // display: flex;
  // justify-content: center;
  // margin: 0px;
  // box-sizing: border-box;
}

#gameboard {
  display: flex;
  background-color: skyblue;
  width: 100%;
  height: 100%;
  position: absolute;

}


#bird {
  position: relative;
  width: 50%;
  height: 50%;
}